.logo {
    text-decoration: none;
}

.logo__image {    
    margin-right: 24px;
    vertical-align: middle;
}

.logo__text {
    vertical-align: middle;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    color: #333333;
    transition: all 0.1s ease-out;
}

.logo:hover .logo__text {
    text-shadow: 5px 5px 5px #C4E2FF;
}
