.button {
    padding: 16.5px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background: #FC9B27;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.button:hover {
    background: #FC7427;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.14);
}

.button:active {
    background: #FC7427;
    box-shadow: none;
    transition: all 0.1s ease-out;
}