.features {
    padding: 100px 90px;
}

.features__title {
    margin: 0;
    margin-bottom: 64px;
    text-align: center;
}

.features__wrapper {
    display: flex;
    margin-bottom: 64px;
}


.features__list:first-child {
    margin-right: 20px;
}

.features__button {
    display: block;
    margin: 0 auto;
}